:root {
    --color-red: #cc0000;
    --color-red2: #7a0000;
    --color-yellow: #F4AF00;
    --color-green: forestgreen;
    
    --color-light-gray: #C7C7C7;
    --color-gray: #7E7E7E;
    --color-dark-gray: #4A4A4A;
    
    --color-light-white: #F9F9F9;
    --color-white: #FAF9F6;
    --color-dark-white: #F2F2F2; 
    
    --color-first: #0B0C10;
    --color-second: #1F2833;
    --color-third: #C5C6C7;
    --color-fourth: #66FCF1;
    --color-fifth: #286090;

    --color-background1: #111111;
    --color-background2: #353535;
    --color-background3: #505050;
    --color-front1: #F2F2F2;
    --color-front2: tomato;
    
    --web-std-width: 960px;
    --select-top-pos: 75vh;
}